body,h1,h5 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}
  
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.pdfobject-container { 
    height: 30rem; 
    border: 1rem solid rgba(0,0,0,.1); 
}

.logo {
    width: 50%;
    height: 50%;
}